.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.country {
    border: 1px solid black;
}

.TEST {
    border: 1px solid black;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

table,
tr,
td {
    border: 1px solid black;
}